@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: tahoma;
}

.show {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  animation: show .5s forwards;
  width: 100%;
  padding: 10px;
  z-index: 200;
}

@keyframes show {
  0% {
    top: -100%;
  }

  100% {
    top: 0px;
  }
}